@import "mapas.less";
@breakpointMobile: ~"(max-width:767px)";
@breakpointTablet: ~"(max-width:1023)";

.marginBottom8{
    margin-bottom: 8px
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: radial-gradient(circle at 77.22% 82.44%, #66a6e1 0, #2f3640 50%, #000000 100%);    color: #colors[textColor];

 
}


   .container{
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
            @media @breakpointMobile{
                max-width: 70%;
                
            }
            @media @breakpointTablet{
                max-width: 80%;
                background-color: green;
            }
    }
    

    header{
        padding-bottom: 24px;

        .profile-avatar{
            display: block;
            margin: 0 auto 24px;
            border-radius: 100%;
            max-width: 96px;
            max-height: 96px;
            width:100%;
            height:100%;
            border: 3px solid #colors[textColor];
        }
    }

    .profile-bio{
        text-align: center;
        &-name{
            font-size: 16px;
            .marginBottom8()

        }
        &-subtitle{
            font-size: 14px;
            .marginBottom8()
        }
        &-description{
            font-size: 14px;
            opacity: .7 ;
            font-weight: bold;
        }
    }

    .social-links{
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        width: 100%;
        margin: 0 auto;
        background-color: #colors[buttonColor];
        padding: 5px 10px;
        align-items: center;
        border-radius: 30px;
        li{
            list-style: none;


            img{
                transition: all ease .3s;
                &:hover{
                    transform: scale(1.3);
                }
            }
            
        }
    }


    .lista-projetos{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .projeto{
            a {
                width: 100%;
               
                text-decoration: none;
                display: block;
                padding: 16px 20px;
                margin-bottom: 16px;
                text-align: center;
                color: #colors[textColor];
                font-weight: bold;
                border-radius: 30px;
                transition: all ease .5s;
                &:hover{
                    color: #colors[buttonColor];
                    background-color: transparent;
                }
            }
        }

        li{
            list-style: none;
        }
    }
    
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}